<h1>Editing App Environment Resource</h1>

<%= render 'form' %>

<%= link_to 'Show', @app_environment_resource %> |
<%= link_to 'Back', app_environment_resources_path(app_environment_id: @app_environment_resource.app_environment_id) %>
