<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% app_environment_credentials.each do |app_environment_credential| %>
      <tr>
        <td><%= app_environment_credential.app_credential.key %></td>
        <td><%= app_environment_credential.text_value %></td>
        <td><%= link_to 'Edit', edit_app_environment_credential_path(app_environment_credential) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
