<p id="notice"><%= notice %></p>

<p>
  <strong>Key name:</strong>
  <%= @credential.key_name %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
